<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="alg" value="HS256"/>

    <add key="RequestResponseUrl" value="https://staging.tradingblock.com/RestHub/"/>
    <add key="StreamingUrl" value="wss://staging.tradingblock.com:2083"/>
    <add key="Apikey" value=""/>
    <add key="Bearer" value=""/>
    <add key="EndUser_Username" value=""/>
    <add key="EndUser_Password" value=""/>
    <add key="AccountId" value=""/>
    <add key="SubaccountId" value=""/>
  </appSettings>
</configuration>
